@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Benton Modern Display";
  src: url("/fonts/BentonModernDisplayCompressedItalic_italic_extra-condensed.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@layer base {
  /* Allow changing font family via CMS */
  html {
    scroll-behavior: smooth;
    font-family: "soleil", "sans-serif";
  }

  .drawer-side {
    overflow-x: hidden;
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

@layer components {
  #logoFossil img {
    width: 80px;
    height: 48px;
    aspect-ratio: auto 80 / 48;
  }

  .features {
    @apply flex items-center justify-center gap-6 flex-wrap;
    @apply relative max-w-[1280px] mx-auto;
  }

  .feature-card {
    @apply w-[380px] max-w-[380px] lg:h-[380px] bg-[#f4f4f4] rounded-3xl;
    @apply border-l border-transparent duration-200 whitespace-pre-line
      text-center;
    @apply flex flex-col items-center justify-start gap-8 py-10 px-8 lg:px-12;
  }

  .modal-fossil::backdrop {
    background: rgba(0, 0, 0, 0.7) !important;
  }

  .modal-fossil[open] {
    pointer-events: auto;
  }

  .popup-custom-check #newsletter {
    appearance: none;
    position: relative;
    outline: none;
  }

  .popup-custom-check #newsletter:focus {
    outline: none;
  }

  .popup-custom-check #newsletter:before {
    content: "";
    width: 11px;
    height: 11px;
    display: block;
    background: transparent;
    border: 1px solid #969696;
    position: absolute;
    top: 0;
    transition: all 0.175s linear;
  }

  .popup-custom-check #newsletter:checked:before {
    background-color: #00ad80;
    transition: all 0.175s linear;
  }

  .popup-custom-check #newsletter:after {
    height: 0;
    transition: all 0.175s linear;
  }

  .popup-custom-check #newsletter:checked:after {
    content: "";
    width: 7px;
    height: 11px;
    display: block;
    position: absolute;
    border: 2px solid #fff;
    transform: rotate(45deg);
    border-top-color: transparent;
    border-left-color: transparent;
    top: -2px;
    left: 7px;
    transition: all 0.175s linear;
  }

  .is-no-select {
    -webkit-touch-callout: none; /* iPhone OS, Safari */
    -webkit-user-select: none; /* Chrome, Safari 3 */
    -khtml-user-select: none; /* Safari 2 */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    user-select: none;
  }

  .popup-copied {
    position: absolute;
    z-index: 10;
    right: -66px;
    top: -35px;
    padding: 5px 10px;
    background: #000;
    border-radius: 50px;
    color: #fff;
    font-size: 0.75rem;
    transition: all 0.175s linear;
  }

  .popup-custom-text.is-title-cupom p:nth-child(2) span {
    letter-spacing: 1px;
  }

  @media (min-width: 769px) {
    .popup-custom-text.is-title-cupom p:nth-child(2) span {
      font-size: 29px !important;
    }
  }

  @media (min-width: 768px) and (max-width: 880px) {
    .popup-custom-text {
      max-width: 50%;
    }
  }

  @media (min-width: 1048px) {
    .popup-custom-text.is-title-cupom {
      max-width: 35%;
    }
  }

  @media (max-width: 768px) {
    .popup-custom-text-send-sucess > *,
    .popup-custom-text-send-sucess > * > *,
    .popup-custom-text-send-sucess > * > * > * {
      font-size: 1.125rem !important;
    }

    .popup-custom-text.is-title-cupom p:last-child span {
      font-size: 25px !important;
    }

    .popup-copied {
      top: initial;
      bottom: -35px;
      right: -30px;
    }
  }

  @media (min-width: 768px) and (max-width: 1130px) {
    .is-menu--link {
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-right: 0 !important;
    }

    #search-input {
      width: 10rem !important;
    }

    [aria-label="Store logo"] {
      width: 7rem !important;
    }

    .n1-custom-style-navbar--button,
    .n1-custom-style-navbar {
      font-size: 12px !important;
    }

    .n1-custom-style-navbar--text {
      font-size: 10px !important;
    }

    .n1-menu {
      gap: 1.25rem !important;
    }

    .n1-menu--submenu {
      margin-top: 115px !important;
    }
  }

  @media (min-width: 768px) and (max-width: 1320px) {
    .is-menu--text {
      font-size: 10px !important;
      line-height: 10px !important;
    }

    .n1-custom-style-navbar--button,
    .n1-custom-style-navbar {
      font-size: 12px !important;
    }

    .n1-custom-style-navbar--text {
      font-size: 10px !important;
    }
  }

  @media (min-width: 1321px) and (max-width: 1490px) {
    .is-menu--text {
      font-size: 12px !important;
      line-height: 12px !important;
    }

    #search-input {
      width: 13rem !important;
    }

    .n1-custom-style-navbar {
      font-size: 14px !important;
    }

    .n1-custom-style-navbar--text {
      font-size: 12px !important;
    }
  }

  @media (min-width: 1446px) and (max-width: 1919px) {
    .n1-custom-style-navbar {
      font-size: 14px !important;
    }

    .n1-custom-style-navbar--text {
      font-size: 12px !important;
    }
  }

  @media (min-width: 1920px) {
    .n1-custom-style-navbar {
      font-size: 16px !important;
    }

    .n1-custom-style-navbar--text {
      font-size: 14px !important;
    }
  }

  @media (max-width: 1024px) {
    #logoFossil img {
      width: 65px;
      height: 37px;
      aspect-ratio: auto 65 / 37;
    }
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal;
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%;
  }

  to {
    --dot-progress: 100%;
  }
}

.n1-custom-grid-navbar {
  grid-template-columns: 1fr auto;
}

.n1-custom-style-navbar {
  display: table;
  width: 100%;
  font-size: 22px;
  font-weight: 500;
  color: #262626;
  padding-bottom: 6px;
  margin-bottom: 8px;
  border-bottom: 3px solid #262626;
  text-transform: uppercase;
}

.absolute-center-buttons {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.join > input::placeholder {
  color: #262626;
}

/* Define the breakpoints and aspect ratio */
.breakpoints {
  --xs: 340px;
  --sm: 375px;
  --md: 420px;
  --lg: 480px;
  --aspect-ratio: 1.5;
}

/* Calculate the ideal image-hero height for each breakpoint */
.image-hero {
  height: calc(var(--xs) * var(--aspect-ratio) / 1px);
}

@media (min-width: var(--sm)) {
  .image-hero {
    height: calc(var(--sm) * var(--aspect-ratio) / 1px);
  }
}

@media (min-width: var(--md)) {
  .image-hero {
    height: calc(var(--md) * var(--aspect-ratio) / 1px);
  }
}

@media (min-width: var(--lg)) {
  .image-hero {
    height: calc(var(--lg) * var(--aspect-ratio) / 1px);
  }
}

.breadcrumbs-fossil {
  max-width: 100%;
  overflow-x: auto;
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */
}
.breadcrumbs-fossil > ul,
.breadcrumbs-fossil > ol {
  display: flex;
  align-items: center;
  white-space: nowrap;
  min-height: min-content;
}
.breadcrumbs-fossil > ul,
.breadcrumbs-fossil > ol {
  display: flex;
  align-items: center;
  white-space: nowrap;
  min-height: min-content;
}
.breadcrumbs-fossil > ul > li,
.breadcrumbs-fossil > ol > li {
  display: flex;
  align-items: center;
}
.breadcrumbs-fossil > ul > li,
.breadcrumbs-fossil > ol > li {
  display: flex;
  align-items: center;
}
.breadcrumbs-fossil > ul > li > a,
.breadcrumbs-fossil > ol > li > a {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.breadcrumbs-fossil > ul > li > a,
.breadcrumbs-fossil > ol > li > a {
  display: flex;
  cursor: pointer;
  align-items: center;
}
@media (hover: hover) {
  .breadcrumbs-fossil > ul > li > a:hover,
  .breadcrumbs-fossil > ol > li > a:hover {
    text-decoration-line: underline;
  }
}
@media (hover: hover) {
  .breadcrumbs-fossil > ul > li > a:hover,
  .breadcrumbs-fossil > ol > li > a:hover {
    text-decoration-line: underline;
  }
}
.breadcrumbs-fossil > ul > li > a:focus,
.breadcrumbs-fossil > ol > li > a:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.breadcrumbs-fossil > ul > li > a:focus,
.breadcrumbs-fossil > ol > li > a:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.breadcrumbs-fossil > ul > li > a:focus-visible,
.breadcrumbs-fossil > ol > li > a:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}
.breadcrumbs-fossil > ul > li > a:focus-visible,
.breadcrumbs-fossil > ol > li > a:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}
.breadcrumbs-fossil > ul > li + *:before,
.breadcrumbs-fossil > ol > li + *:before {
  content: "|";
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-bottom: 2px;
  display: block;
  background-color: transparent;
}
.breadcrumbs-fossil > ul > li + *:before,
.breadcrumbs-fossil > ol > li + *:before {
  content: "|";
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-bottom: 2px;
  display: block;
  opacity: 0.4;
  background-color: transparent;
}
[dir="rtl"] .breadcrumbs-fossil > ul > li + *:before,
[dir="rtl"] .breadcrumbs-fossil > ol > li + *:before {
  --tw-rotate: -135deg;
}
[dir="rtl"] .breadcrumbs-fossil > ul > li + *:before,
[dir="rtl"] .breadcrumbs-fossil > ol > li + *:before {
  --tw-rotate: -135deg;
}

.collapse-plus > .collapse-title:after {
  position: absolute;
  display: block;
  right: -10px;
  height: 0.5rem;
  width: 0.5rem;
  font-size: 1.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 300ms;
  top: 0.6rem;
  inset-inline-end: 0.6rem !important;
  content: "+";
  pointer-events: none;
}

.conteudo_section {
  border-radius: 0;
}

.section_content {
  border-radius: 0;
  margin-bottom: 25px;
  padding: 16px 20px;
}

@media screen and (max-width: 680px) {
  div#launcher {
    margin-right: 2px;
  }
}
