@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: "soleil" , "sans-serif";
  }

  .drawer-side {
    overflow-x: hidden;
  }


  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

@layer components {
  .features {
    @apply flex items-center justify-center gap-6 flex-wrap;
    @apply relative max-w-[1280px] mx-auto;
  }

  .feature-card {
    @apply w-[380px] max-w-[380px] lg:h-[380px] bg-[#F4F4F4] rounded-3xl;
    @apply border-l border-transparent duration-200 whitespace-pre-line text-center;
    @apply flex flex-col items-center justify-start gap-8 py-10 px-8 lg:px-12;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}

.n1-custom-grid-navbar{
  grid-template-columns: 1fr auto;
}

.n1-custom-style-navbar{
    display: table;
    width: 100%;
    font-size: 22px;
    font-weight: 500;
    color: #262626;
    padding-bottom: 6px;
    margin-bottom: 8px;
    border-bottom: 3px solid #262626;
    text-transform: uppercase;
}

.absolute-center-buttons{
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.join > input::placeholder {
  color: #262626;
}

/* Define the breakpoints and aspect ratio */
.breakpoints {
  --xs: 340px;
  --sm: 375px;
  --md: 420px;
  --lg: 480px;
  --aspect-ratio: 1.5;
}

/* Calculate the ideal image-hero height for each breakpoint */
.image-hero {
  height: calc((var(--xs) * var(--aspect-ratio)) / 1px);
}

@media (min-width: var(--sm)) {
 .image-hero {
    height: calc((var(--sm) * var(--aspect-ratio)) / 1px);
  }
}

@media (min-width: var(--md)) {
 .image-hero {
    height: calc((var(--md) * var(--aspect-ratio)) / 1px);
  }
}

@media (min-width: var(--lg)) {
 .image-hero {
    height: calc((var(--lg) * var(--aspect-ratio)) / 1px);
  }
}

.breadcrumbs-fossil {
  max-width: 100%;
  overflow-x: auto;
  padding-top: 0.5rem/* 8px */;
  padding-bottom: 0.5rem/* 8px */;
}
.breadcrumbs-fossil > ul,
.breadcrumbs-fossil > ol {
  display: flex;
  align-items: center;
  white-space: nowrap;
  min-height: min-content;
}
.breadcrumbs-fossil > ul,
.breadcrumbs-fossil > ol {
  display: flex;
  align-items: center;
  white-space: nowrap;
  min-height: min-content;
}
.breadcrumbs-fossil > ul > li, .breadcrumbs-fossil > ol > li {
  display: flex;
  align-items: center;
}
.breadcrumbs-fossil > ul > li, .breadcrumbs-fossil > ol > li {
  display: flex;
  align-items: center;
}
.breadcrumbs-fossil > ul > li > a, .breadcrumbs-fossil > ol > li > a {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.breadcrumbs-fossil > ul > li > a, .breadcrumbs-fossil > ol > li > a {
  display: flex;
  cursor: pointer;
  align-items: center;
}
@media (hover:hover) {
  .breadcrumbs-fossil > ul > li > a:hover, .breadcrumbs-fossil > ol > li > a:hover {
      text-decoration-line: underline;
  }
}
@media (hover:hover) {
  .breadcrumbs-fossil > ul > li > a:hover, .breadcrumbs-fossil > ol > li > a:hover {
      text-decoration-line: underline;
  }
}
.breadcrumbs-fossil > ul > li > a:focus, .breadcrumbs-fossil > ol > li > a:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.breadcrumbs-fossil > ul > li > a:focus, .breadcrumbs-fossil > ol > li > a:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.breadcrumbs-fossil > ul > li > a:focus-visible, .breadcrumbs-fossil > ol > li > a:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}
.breadcrumbs-fossil > ul > li > a:focus-visible, .breadcrumbs-fossil > ol > li > a:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}
.breadcrumbs-fossil > ul > li + *:before, .breadcrumbs-fossil > ol > li + *:before {
  content: "|";
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-bottom: 2px;
  display: block;
  background-color: transparent;
}
.breadcrumbs-fossil > ul > li + *:before, .breadcrumbs-fossil > ol > li + *:before {
  content: "|";
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-bottom: 2px;
  display: block;
  opacity: 0.4;
  background-color: transparent;
}
[dir="rtl"] .breadcrumbs-fossil > ul > li + *:before,
[dir="rtl"] .breadcrumbs-fossil > ol > li + *:before {
  --tw-rotate: -135deg;
}
[dir="rtl"] .breadcrumbs-fossil > ul > li + *:before,
[dir="rtl"] .breadcrumbs-fossil > ol > li + *:before {
  --tw-rotate: -135deg;
}

.collapse-plus > .collapse-title:after {
  position: absolute;
  display: block;
  right: -10px;
  height: 0.5rem;
  width: 0.5rem;
  font-size: 1.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 300ms;
  top: 0.6rem;
  inset-inline-end: 0.6rem !important ;
  content: "+";
  pointer-events: none;
}


div#zendeskChat {
  background-image: url("https://technos.vteximg.com.br/arquivos/CHAT_2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 7px;
  right: 0;
  margin-right: 19px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 98;
}